:root {
  --sidebar-w: 210px;
  --align-contenu-gauche: 290px;
  --couleur-noir: #262626;
  --muted: #666;
  --couleur-blanc: #fff;
  --couleur-extra: #7ce8e5;
  --couleur-extra2: #fff688;
  --couleur-extra3: #48d889;
  --radius: 50px;
  font-family: Parkinsans, system-ui, -apple-system, sans-serif;
}

html {
  scroll-behavior: smooth; /* scroll animé */
}

@font-face {
  font-family: 'Spacemono-BoldItalic';
  src: url('../fonts/SpaceMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: Bold Italic;
  font-display: swap;
} 

@font-face {
  font-family: 'Spacemono-Bold';
  src: url('../fonts/SpaceMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: Bold;
  font-display: swap;
} 

@font-face {
  font-family: 'Spacemono';
  src: url('../fonts/SpaceMono-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: Bold;
  font-display: swap;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('../fonts/Parkinsans-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 300 800;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  color: var(--couleur-noir);
  background: var(--couleur-blanc);
  font-family: 'Parkinsans', system-ui, sans-serif;
  font-weight: 300;
}
a,
a:visited {
  color: var(--couleur-noir);
}

h1, h2, h3 {
  font-family: 'SpaceMono-BoldItalic', serif;
  font-weight: 700;
}

h1 { font-size: 2.5rem; line-height: 1.1; margin-top: 0;}   /* 50px */
h2 { font-size: 2.5rem; line-height: 1.1; margin-bottom: 3em; } /* 50px */
h3 { font-size: 1.25rem; } /* ~20px */

.text-sm  { font-size: 0.8rem; }  /* environ 11px */
.text-menu { font-size: 1.3rem; }    /* 30px */
.text-menu-bold  { font-size: 1rem; font-weight: 600;}   /* 20px bold */
.text-base { font-size: 1.3rem; }      /* 30px */
.text-base-mono { font-family: 'SpaceMono-BoldItalic'; font-size: 1.3rem; }
.text-L  { font-size: 2.3rem; line-height: 1.3; margin-top: 0; }    /* 50px */
.text-xl  { font-size: clamp(2.2rem, 4.2vw, 4.2rem); line-height: 1.4; margin-top: 0; }    /* 50px */
.text-mono  { font-family: 'SpaceMono-BoldItalic'; font-weight: 700; font-size: clamp(2rem, 5.2vw, 5.2rem); line-height: 1.1;}    /* 50px */
.titre-mono-gros { font-family: 'SpaceMono-BoldItalic'; font-weight: 700; font-size: clamp(2rem, 4vw, 4rem); line-height: 1.1;}
.titre-mono-xxl { font-family: 'SpaceMono-BoldItalic'; font-weight: 700; font-size: 5rem; line-height: 1.1;}
.chiffre-mono  { font-family: 'Spacemono-Bold'; font-weight: 700;font-size: 1.875rem; }    /* 50px */
.text-btn-menu { font-family: 'Spacemono-Bold'; font-weight: 700;font-size: 1rem; }
.text-mono-regular { font-family: 'Spacemono'; font-size: 1rem; }
.text-mono-regularbolditalic { font-family: 'SpaceMono-BoldItalic'; font-size: 1rem; }
.text-limite {
  max-width: 28ch;   /* environ 40 caractères par ligne */
}
.surligne {
  background-color: var(--couleur-extra);
  }
.souligne {
  text-decoration: underline;
  }
.oval {
  display: inline-block;
  padding: 0.15em 0.6em;            
  border-radius: 9999px;
  background: var(--couleur-noir);
  border: 2px solid var(--couleur-noir);
  color: var(--couleur-noir, #111);
  line-height: 1;                   
  text-decoration: none;
}
.oval--outline {
  background: transparent;
  border: 2px solid var(--couleur-noir);
  color: var(--couleur-noir, #111);
}
.oval--outline-noir {
  border-radius: 9999px;
  padding: 0.15em 0.6em;
  background: transparent;
  border: 2px solid #111;
  color: var(--couleur-noir);
}
.scroll-down {
  position: absolute;
  bottom: 20px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.scroll-down img {
  width: 70px;
  height: auto;
}

.scroll-down-2 {
  bottom: 20px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
}
.scroll-down-2 img {
  width: 70px;
  height: auto;
}

/* SIDEBAR & MENU */
/* Sidebar */
.sidebar {
  width: var(--sidebar-w);
  padding: 40px;
  position: fixed;
  height: 100vh;
  border-right: 1px solid #eee;
  overflow-y: auto;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.logo {
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: Spacemono;
  max-width: 190px;
}
.sidebar .logo img {
  width: 120px;
  height: auto;
}
.header img {
  height: 20px;
  width: auto;
}
.nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: left;
  overflow-y: auto;
  scrollbar-width: none;
}
.nav::-webkit-scrollbar {
  display: none; /* cache la scrollbar sur Chrome/Safari */
}
.nav a {
  text-decoration: none;
  color: var(--couleur-noir);
  font-weight: 300;
}
.nav a:hover {
  text-decoration: underline;
}
.nav .actif {
  text-decoration: underline;
}
.contact {
  display: flex;
  gap: 10px;
  margin-left: 0px;
  margin-top: auto; /* pousse en bas */
  margin-bottom: 60px;
  align-items: center;
  font-family: Spacemono;
}
.contact a {
  text-decoration: none;
}
.contact img {
  width: 20px;
  height: auto;
  display: block;
}

/* --- Header compact (mobile/tablette) --- */
.header {
  display: none; /* masqué par défaut, affiché en responsive */
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
}
.burger {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--couleur-noir);
}
/* Menu déroulant */
.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  right: 0;
  width: 40%;
  height: 100vh;
  background: var(--couleur-blanc);
  padding: 20px 20px; 
  z-index: 1000;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  border-left: 1px solid #eee;
}
.nav-mobile .nav-links,
.nav-mobile .nav-extra {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px; /* espacement vertical */
}
.nav-links a {
  text-decoration: none;
}
.nav-links a:hover {
  text-decoration: underline;
}
.nav-contact {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 100px;
}
.nav-mobile a {
  color: var(--couleur-noir);
  font-weight: 300;
      }
.nav-mobile.open {
  transform: translateX(0);
      }
.nav-mobile .close {
  align-self: flex-end;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Content */
.content {
  flex: 1;
}
h2 {
  margin-bottom: 50px;
  margin-top: 0;
}



/* !!! HOME PAGE !!! * /

/* Texte intro */
.intro {
  position: relative;
  margin-left: var(--align-contenu-gauche);
  padding: 0px 40px 0px 40px;
  gap: 20px;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url("../images/topographie.svg"); /* ton image ici */
  background-size: cover;     /* couvre tout l’écran */
  background-position: center; /* centre l’image */
  background-repeat: no-repeat;
}


/* Bloc image gauche + texte droite */
.bloc {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-left: var(--align-contenu-gauche);
}
.bloc-contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 40px;
  padding: 60px 40px 60px 40px;
  background-color: var(--couleur-extra3);
  color: var(--couleur-noir);
  
}
.bloc-image {
  display: flex;
  justify-content: center;
}
.bloc-image img {
  width: 50%;
  height: auto;
}
.bloc-texte {
  display: flex;
  gap: 40px; /* espace entre les colonnes */
  align-items: flex-start; /* alignement vertical en haut */
  padding: 40px;
}
.bloc-titre {
  flex: 0 0 50%; /* 40% largeur fixe pour le titre */
  font-size: 4rem;
}
.bloc-paragraphe {
  flex: 1; /* prend le reste de la largeur pour le texte */
}
.bloc-texte a {
  text-decoration: underline;
} 
.bloc-texte a:hover {
  text-decoration: none;
} 
/* Responsive pour bloc image + texte */
@media (max-width: 1100px) {
  .bloc {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .bloc-contenu {
    flex-direction: column; /* image au-dessus, texte en dessous */
    text-align: left;
    padding: 40px 40px 60px 40px;
    margin-bottom: 0;
  }
  .bloc-image {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .bloc-image img {
    width: 70%;
    height: auto;
  }
  .bloc-texte {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
  .bloc-titre, 
  .bloc-paragraphe {
    flex: none;
    width: 100%;
  }
}

/* Bloc Projets */
.projets {
  margin-left: var(--align-contenu-gauche);
  margin-top: 100px;
  padding: 40px 0px 60px 0px;
  min-height: 100vh;
}
.projets h2 {
  margin-left: 40px;
}
.projets p {
  line-height: 1.4; /* essaie entre 1.1 et 1.4 selon ton rendu */
  margin-top: 10px;
  margin-bottom: 0;
}
.projets-2col {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
  gap: 40px;
}
.projet {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.projet img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 3px;
}
.projet a {
  margin-top: 5px;
}
.projet a:hover {
  text-decoration: none;
}
.projet-full {
  margin-top: 40px;
  margin-bottom: 80px;
}
.projet-full p {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
}
.projet-full img {
  width: 100%;
  height: auto;
  display: block;
}
.projet-full a:hover {
  text-decoration: none;
}
.projet-full a {
  margin-left: 40px;
}
.all-projets {
  color: var(--couleur-noir);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-family: Spacemono;
}
.all-projets a:hover {
  text-decoration: none;
}

/* --- Responsive Blocs projets--- */
@media (max-width: 900px) {
  .projets-2col {
    flex-direction: column;
    gap: 60px;
  }
  .all-projets {
  margin-left: 20px;
  margin-right: 20px;
  }
}

/* Bloc Raison d'être */
.raison-etre {
  margin-left: var(--align-contenu-gauche);
  margin-bottom: 140px;
  margin-top: 100px;
  background-color: var(--couleur-blanc);
  color: var(--couleur-noir);
  padding: 40px 40px 20px 0px;
}
.raison-etre h2,
.raison-etre p {
  margin-left: 40px;
}



/* !!! PAGE PORTFOLIO !!! */

/* Bloc intro */
.intro-portfolio {
  margin-left: var(--align-contenu-gauche);
  margin-bottom: 40px;
  background-color: var(--couleur-blanc);
  color: var(--couleur-noir);
  padding: 40px 40px 20px 40px;
}
.intro-portfolio h1 {
  margin-bottom: 40px;
}
/* Bloc Projets PORTFOLIO*/
.projets-portfolio {
  margin-left: var(--align-contenu-gauche);
  padding: 0px 0px 60px 0px;
}
.projets-portfolio p {
  line-height: 1.4; /* essaie entre 1.1 et 1.4 selon ton rendu */
  margin-top: 10px;
  margin-bottom: 0;
}
.projets-2col-portfolio {
  display: flex;
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 40px;
}
.projet-portfolio {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.projet-portfolio img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 3px;
}
.projet-portfolio a {
  margin-top: 5px;
}
.projet-portfolio a:hover {
  text-decoration: none;
}
.projet-full-portfolio {
  margin-top: 40px;
  margin-bottom: 80px;
}
.projet-full-portfolio p {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
}
.projet-full-portfolio img {
  width: 100%;
  height: auto;
  display: block;
}
.projet-full-portfolio a:hover {
  text-decoration: none;
}
.projet-full-portfolio a {
  margin-left: 40px;
}
/* --- Responsive Blocs projets PORTFOLIO--- */
@media (max-width: 900px) {
  .projets-2col-portfolio {
    flex-direction: column;
    gap: 60px;
  }
  .projet-full-portfolio {
  margin-bottom: 60px;
  }
}


/* !!! PAGE SERVICES !!! */
/* INTRO */

.intro-services {
  background-color: var(--couleur-extra3); /* ou une autre couleur de fond */
  color: var(--couleur-noir);
  padding: 40px 40px 40px 40px;
  margin-left: var(--align-contenu-gauche);
}

.intro-services h1 {
  margin-bottom: 40px;
}

.intro-services .intro-text {
  text-align: left;
}

.colonnes-intro-services {
  display: flex;
  justify-content: left;
  gap: 80px;
  text-align: left;
}

.colonnes-intro-services div {
  flex: 1;
}

/* Intro Responsive */
@media (max-width: 900px) {
  .colonnes-intro-services {
    flex-direction: column;
    gap: 0px;
    padding-left: 0;
  }
  .colonnes-intro-services div {
  max-width: 100%;

  }
}

/* SERVICES */
.bloc-services {
  background-color: var(--couleur-blanc);
  color: var(--couleur-noir);
  padding: 80px 80px;
  margin-left: var(--align-contenu-gauche);
  text-align: center;
}
.chiffre-xxl-mono {
  font-family: Spacemono-bold;
  font-size: 8rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0px;
}
.colonnes-services {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.colonnes-services div {
  flex: 1;
  max-width: 350px;
  padding: 20px 10px 20px 10px;
}
.colonnes-services h2 {
  margin-bottom: 0.5em;
}
.description-service {
  border: 1px solid #eee;
}
.listing-services {
  font-family: Spacemono;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  gap: 5px;
}

/* Responsive SERVICES */
@media (max-width: 1100px) {
  .colonnes-services {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
  }
  .colonnes-services div {
  max-width: 100%;
  }
}

/* Bloc FAQ */
.FAQ-services {
  display: flex;
  flex-direction: column;
  margin-left: var(--align-contenu-gauche);
  margin-bottom: 120px;
  background-color: var(--couleur-blanc);
  color: var(--couleur-noir);
  padding: 40px 40px 20px 0px;
  gap: 40px;
}
.FAQ-services h2,
.FAQ-services p {
  margin-left: 40px;
}
.FAQ {
  max-width: 60%;
}
.FAQ.gauche {
  align-self: flex-start;
  text-align: left;
}
.FAQ.droite {
  align-self: flex-end;
  text-align: right;
}
.FAQ-question {
  margin-bottom: 0px;
}

/* Responsive FAQ */
@media (max-width: 900px) {
  .FAQ,
  .FAQ.droite, 
  .FAQ.gauche {
    max-width: 100%;
    text-align: left;
  }
}


/* !!! PAGE A PROPOS !!! */
/* Intro */
.intro-apropos {
  color: var(--couleur-noir);
  padding: 40px 40px 40px 40px;
  margin-left: var(--align-contenu-gauche);
  display: flex;
  justify-content: left;
  gap: 80px;
  text-align: left;
}

/* Intro Responsive */
@media (max-width: 900px) {
  .intro-apropos {
    flex-direction: column;
    gap: 5px;
    max-width: 100%;
  }
}

/* Présentation */
.presentation {
  margin-left: var(--align-contenu-gauche);
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.presentation img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 3px;
}
.presentation p {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
}
.presentation .colonnes-studio {
  display: flex;
  justify-content: left;
  gap: 40px;
  text-align: left;
  padding: 40px;
}

.colonnes-studio div {
  margin-top: 40px;
  flex: 1;
}
/* Responsive presentation */
@media (max-width: 900px) {
  .colonnes-studio {
    flex-direction: column;
    gap: 0px;
  }
  .colonnes-studio div {
  max-width: 100%;
  }
}



/* !!! PAGE MENTIONS LEGALES !!! */
.mentions-legales {
  margin-left: var(--align-contenu-gauche);
  padding: 40px 40px 40px 40px;
}
.mentions-legales h2 {
  margin-bottom: 10px;
}


/* Footer */
.footer {
  padding: 60px 40px 20px 50px;
  text-align: left;
  margin-left: var(--align-contenu-gauche);
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Spacemono;
}
.footer-links a {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--couleur-noir);
  font-weight: 300;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-mentions {
  font-size: 0.8rem;   
  text-align: left;
  margin-top: 50px;  
  margin-bottom: 0;   
}
.footer-mentions a {
  color: var(--couleur-noir);
  text-decoration: none;
}
.footer-mentions a:hover {
  text-decoration: underline;
}
.footer h2 {
  margin-bottom: 40px;
}
.footer--bleu {
  background: var(--couleur-extra);
}
.footer--jaune {
  background: var(--couleur-extra2);
}
.footer--vert {
  background: var(--couleur-extra3);
}

/* Responsive général */
@media (max-width: 900px) {
  body {
    flex-direction: column;
  }
  .sidebar {
        display: none; /* cache la sidebar */
  }
  .intro,
  .bloc,
  .projets,
  .raison-etre,
  .footer,
  .content,
  .intro-portfolio,
  .projets-portfolio,
  .intro-services,
  .bloc-services,
  .FAQ-services,
  .intro-apropos,
  .presentation,
  .mentions-legales {
        margin-left: 0; /* le contenu reprend toute la largeur */
  }
  .intro {
        margin-top: 0px; /* le contenu reprend toute la largeur */
  }
  .header {
        display: flex; /* affiche le header compact */
  }
  .text-limite {
    max-width: 100%; /* le texte peut occuper toute la largeur */
  }
  p, h1, h2, a {
        margin-left: 20px;
        margin-right: 20px;
  }
}




/* Boutons */
.btn {
  display: inline-block;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: var(--radius);
  text-decoration: none;
  font-family: Spacemono-bold;
  font-weight: 300;
}
.btn.primary {
  background: var(--couleur-extra);
  color: var(--couleur-noir);
  border: 1px solid var(--couleur-extra);

}
.btn.primary:hover {
  background-color: transparent;
  color: var(--couleur-noir);
  border: 1px solid var(--couleur-extra);
}
.btn.ghost {
  border: 1px solid var(--couleur-noir);
  color: var(--couleur-noir);
}
.btn.ghost:hover {
  background-color: var(--couleur-noir);
  color: var(--couleur-extra);
}


.bouton {
  text-decoration: underline;
}
.bouton:hover {
  text-decoration: none;
}




.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* empêche le retour à la ligne */
  border: 0;
}
